body {
  padding-top: 50px;
  background: #eee;
  font-family: Helvetica;
}

 .wrap {
   display: grid;
   grid-template-areas: 'sidebar ...content content';
   margin: auto;
   width: 500px;
   background-color: #00FFFF;
 }


 .link {
   text-decoration: none;
   cursor: pointer;
   color: #000;
 }

 .sidebar {
   grid-area: sidebar;
   border-color: red;
 }

.content {
  grid-area: content;
}

@font-face {
   font-family: 'pt_serifbold_italic';
   src: local('pt_serifbold_italic'), url(./fonts/ptserif-bolditalic-webfont.woff) format('woff');
}
